@import "./navbar.css";
@import "./footer.css";
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:wght@300;400;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --Primary-color: #096a56;
  --Active-color: #205053;
  --Bg-color: #e8ebf0;
  --Text-color: #374151;
  --Title-color: #22495f;
  --Bg-color-alt: #e7f2f7;
  --black: #000000;
  --white: #ffffff;
}

*::selection {
  background: var(--black);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

section:nth-of-type(1) {
  margin: 5em 0 0 0;
  background: var(--Bg-color);
}

.about-us .group-1 {
  max-width: 520px;
}

.about-us {
  display: flex;
  align-items: start;
  justify-content: space-between;
  font-family: "Nunito Sans", sans-serif;
  padding: 5em 4em 8em 4em;
}

.content-about {
  display: flex;
  align-items: baseline;
  column-gap: 13px;
  padding-bottom: 2em;
  font-weight: 700;
}

.content-about span {
  background: var(--Title-color);
  width: 5%;
  height: 3px;
}

.content-about p {
  font-size: 22px;
  font-weight: 700;
  color: var(--Title-color);
}

.about-us h1 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.07em;
  color: var(--Title-color);
}

.about-us .group-2 {
  max-width: 420px;
}

.about-us .group-2 p {
  line-height: 25px;
}

.about-us .group-2 p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: var(--Title-color);
  padding-bottom: 15px;
}

.about-us .group-2 p:nth-child(2) {
  font-size: 13px;
  font-weight: 700;
  color: var(--Text-color);
}

.image {
  position: relative;
  bottom: 65px;
  display: flex;
  justify-content: center;
  padding: 0 5em;
}

.image img {
  width: 100%;
  height: 250px;
  object-fit: fill;
}

.container-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 4em;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 3em;
}

.container-box .box {
  max-width: 450px;
}

.container-box .box h2:nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  color: var(--Title-color);
  padding-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 0.03em;
}

.container-box .box h2:nth-child(2) {
  font-size: 21px;
  font-weight: 700;
  color: var(--Title-color);
  letter-spacing: 0.05em;
  padding-bottom: 10px;
}

.container-box .box p {
  font-size: 14px;
  font-family: 400;
  color: var(--Text-color);
  line-height: 23px;
  max-width: 420px;
}

section:nth-of-type(3),
section:nth-of-type(4) {
  padding: 0 3.5em;
}

.our-supporters {
  padding: 1.5em 0;
}

.our-supporters > h2 {
  font-size: 25px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  color: var(--Title-color);
  text-transform: capitalize;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--white);
}

.our-supporters .groups-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 0 0;
}

.awards-recognitions {
  padding: 3em 0;
  font-family: "Nunito Sans", sans-serif;
}

.awards-recognitions h1,
.meet-our-team h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--Title-color);
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.04em;
}

.awards-recognitions .groups-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 0 0;
}

.awards-recognitions .groups-img .box {
  text-align: center;
  width: 450px;
}

.awards-recognitions .groups-img .box img {
  width: 70px;
}

.awards-recognitions .groups-img .box .content {
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
}

.awards-recognitions .groups-img .box .content h4 {
  font-weight: 700;
  color: #1d2130;
  padding-bottom: 4px;
}

.awards-recognitions .groups-img .box .content p:nth-child(2) {
  font-size: 15px;
  font-weight: 700;
  color: #1d2130;
  padding-bottom: 4px;
}

.awards-recognitions .groups-img .box .content p:nth-child(3) {
  font-size: 13px;
  font-weight: 500;
  color: var(--Text-color);
}

section:nth-of-type(5) {
  padding: 4em 3em 3em 3em;
}

.our-journey {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  font-family: "Nunito Sans", sans-serif;
  background: var(--white);
  padding: 3em 1em;
  border-radius: 12px;
}

.our-journey .groups {
  max-width: 500px;
}

.our-journey .groups h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--Title-color);
  letter-spacing: 2px;
  padding-bottom: 7px;
}

.our-journey .groups h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--Title-color);
  letter-spacing: 0.09em;
  padding-bottom: 10px;
}

.our-journey .groups p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Text-color);
}

.our-journey .groups .groups-content {
  display: flex;
  align-items: center;
  column-gap: 3em;
  padding-top: 1em;
}

.our-journey .groups .groups-content .content {
  max-width: 250px;
  text-align: start;
}

.our-journey .groups .groups-content .content p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: var(--Title-color);
  letter-spacing: 2px;
}

.our-journey .groups .groups-content .content p:nth-child(2) {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--Active-color);
}

.our-journey img {
  width: 450px;
}

.meet-our-team {
  padding-top: 3em;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}

.meet-our-team p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Text-color);
}

.meet-our-team .groups-images {
  display: flex;
  align-items: center;
}

.meet-our-team .groups-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em 2em;
  padding-top: 3em;
}

.meet-our-team .groups-images .images {
  max-width: 300px;
}

.meet-our-team .groups-images .images img {
  width: 250px;
  object-fit: cover;
  padding-bottom: 10px;
}

.meet-our-team .groups-images .images .para {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.meet-our-team .groups-images .images .para h2 {
  font-size: 17px;
  color: #1d2130;
  letter-spacing: 2px;
  padding-bottom: 5px;
}

.meet-our-team .groups-images .images .para h3 {
  font-size: 13px;
  color: var(--Text-color);
}

footer {
  margin: 0;
}

/**************************************************************media query**************************************************************/
@media screen and (max-width: 320px) {
  section:nth-of-type(1) {
    margin: 4em 0 0 0;
  }

  .about-us {
    padding: 3em 1em 6em 1em;
    flex-direction: column;
    gap: 1em 0;
  }

  .about-us .group-1,
  .about-us .group-2 {
    max-width: max-content;
  }

  .content-about {
    padding-bottom: 1em;
  }

  .content-about span {
    width: 17%;
  }

  .content-about p {
    font-size: 19px;
  }

  .about-us h1 {
    font-size: 21px;
    letter-spacing: 0em;
  }

  .about-us .group-2 p {
    line-height: 21px;
  }

  .about-us .group-2 p:nth-child(1) {
    font-size: 16px;
    padding-bottom: 11px;
  }

  .about-us .group-2 p:nth-child(2) {
    font-size: 12px;
  }

  .image img {
    width: 250px;
    height: 120px;
  }

  .container-box {
    gap: 2em 0;
    padding-bottom: 1em;
    flex-direction: column;
    padding: 0 1em 2em;
  }

  .container-box .box h2:nth-child(2) {
    font-size: 18px;
    letter-spacing: 0;
    padding-bottom: 10px;
  }

  .container-box .box p {
    font-size: 12px;
    line-height: 17px;
    max-width: max-content;
  }

  .our-supporters > h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  section:nth-of-type(3),
  section:nth-of-type(4) {
    padding: 0 1em;
  }

  .our-supporters .groups-img {
    padding: 1em 0 0 0;
    gap: 0 1.5em;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }

  .our-supporters .groups-img img {
    width: 110px;
  }

  .awards-recognitions {
    padding: 2em 0;
  }

  .awards-recognitions h1,
  .meet-our-team h1 {
    font-size: 20px;
    letter-spacing: 0.02em;
  }

  .awards-recognitions .groups-img {
    padding: 1em 0 0 0;
    gap: 1em 0;
    flex-wrap: wrap;
  }

  .awards-recognitions .groups-img .box {
    flex: 1 1 100px;
  }

  .awards-recognitions .groups-img .box .content p:nth-child(2) {
    font-size: 13px;
    padding-bottom: 0px;
  }

  .awards-recognitions .groups-img .box .content p:nth-child(3) {
    font-size: 11px;
  }

  section:nth-of-type(5) {
    padding: 2em 1em;
  }

  .our-journey {
    column-gap: 0;
    padding: 2em;
    gap: 1em 0;
    flex-direction: column;
  }

  .our-journey .groups h3 {
    font-size: 16px;
    padding-bottom: 5px;
  }

  .our-journey .groups h1 {
    font-size: 22px;
    letter-spacing: 0;
  }

  .our-journey .groups .groups-content {
    gap: 1em 2em;
    flex-wrap: wrap;
  }

  .our-journey .groups .groups-content .content {
    flex: 1 1 100px;
    max-width: max-content;
  }

  .our-journey img {
    width: 100%;
  }

  .meet-our-team p {
    font-size: 12px;
    font-weight: 400;
    color: var(--Text-color);
  }

  .meet-our-team .groups-images {
    flex-wrap: nowrap;
    gap: 0 1em;
    padding-top: 2em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
  }

  .meet-our-team .groups-images .images img {
    width: 150px;
  }

  .meet-our-team .groups-images .images .para h2 {
    font-size: 14px;
    letter-spacing: 0;
    padding-bottom: 3px;
  }

  .meet-our-team .groups-images .images .para h3 {
    font-size: 11px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  section:nth-of-type(1) {
    margin: 4em 0 0 0;
  }

  .about-us {
    padding: 3em 1em 6em 1em;
    flex-direction: column;
    gap: 1em 0;
  }

  .content-about {
    padding-bottom: 1em;
  }

  .about-us .group-1,
  .about-us .group-2 {
    max-width: max-content;
  }

  .content-about span {
    width: 15%;
  }

  .content-about p {
    font-size: 20px;
  }

  .about-us h1 {
    font-size: 25px;
    letter-spacing: 0.04em;
  }

  .about-us .group-2 p {
    line-height: 23px;
  }

  .about-us .group-2 p:nth-child(1) {
    font-size: 17px;
    padding-bottom: 10px;
  }

  .image img {
    width: 120%;
    height: 150px;
  }

  section:nth-of-type(2) {
    padding: 0 1em;
  }

  .container-box {
    gap: 1em 0;
    padding-bottom: 2em;
    flex-direction: column;
  }

  .container-box .box h2:nth-child(2) {
    font-size: 19px;
    letter-spacing: 0;
    padding-bottom: 7px;
  }

  .container-box .box p {
    font-size: 13px;
    line-height: 20px;
  }

  section:nth-of-type(3),
  section:nth-of-type(4) {
    padding: 0 1em;
  }

  .our-supporters > h2 {
    font-size: 21px;
    padding-bottom: 10px;
  }

  .our-supporters .groups-img {
    padding: 1em 0 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    gap: 0 2em;
  }

  .our-supporters .groups-img img {
    width: 125px;
  }

  .awards-recognitions {
    padding: 2em 0;
  }

  .awards-recognitions h1,
  .meet-our-team h1 {
    font-size: 25px;
    letter-spacing: 0.02em;
  }

  .awards-recognitions .groups-img {
    padding: 1.5em 0 0 0;
    flex-wrap: wrap;
    gap: 1.5em 0;
  }

  .awards-recognitions .groups-img .box {
    flex: 1 1 120px;
  }

  .awards-recognitions .groups-img .box img {
    width: 60px;
  }

  .awards-recognitions .groups-img .box .content p:nth-child(2) {
    font-size: 14px;
    padding-bottom: 2px;
  }

  .awards-recognitions .groups-img .box .content p:nth-child(3) {
    font-size: 12px;
  }

  section:nth-of-type(5) {
    padding: 2em 1.5em;
  }

  .our-journey {
    padding: 2em;
    flex-direction: column;
    gap: 1.5em 0;
  }

  .our-journey .groups h1 {
    font-size: 27px;
    letter-spacing: 0.04em;
    padding-bottom: 7px;
  }

  .our-journey .groups p {
    font-size: 14px;
  }

  .our-journey .groups .groups-content {
    gap: 1em;
    flex-wrap: wrap;
  }

  .our-journey .groups .groups-content .content {
    flex: 1 1 auto;
  }

  .our-journey img {
    width: 100%;
  }

  .meet-our-team {
    padding-top: 2em;
  }

  .meet-our-team p {
    font-size: 14px;
  }

  .meet-our-team .groups-images {
    flex-wrap: nowrap;
    gap: 0 1em;
    padding-top: 2em;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }

  .meet-our-team .groups-images .images img {
    width: 180px;
    padding-bottom: 7px;
  }

  .meet-our-team .groups-images .images .para h2 {
    font-size: 15px;
    letter-spacing: 0;
    padding-bottom: 3px;
  }

  .meet-our-team .groups-images .images .para h3 {
    font-size: 12px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section:nth-of-type(1) {
    margin: 4em 0 0 0;
  }

  .about-us {
    padding: 3em 1em 7em 1em;
    flex-wrap: wrap;
    gap: 1em;
  }

  .about-us .group-1 {
    max-width: max-content;
    flex: 1 1 338px;
  }

  .content-about {
    padding-bottom: 1em;
  }

  .about-us h1 {
    font-size: 26px;
    letter-spacing: 0.02em;
  }

  .content-about p {
    font-size: 20px;
  }

  .about-us .group-2 {
    max-width: max-content;
    flex: 1 1 330px;
  }

  .about-us .group-2 p {
    line-height: 23px;
  }

  .about-us .group-2 p:nth-child(1) {
    font-size: 18px;
    padding-bottom: 9px;
  }

  .image img {
    height: 190px;
  }

  section:nth-of-type(2) {
    padding: 0 1em;
  }

  .container-box {
    justify-content: inherit;
    gap: 1em;
    padding-bottom: 2em;
    flex-wrap: wrap;
  }

  .container-box .box {
    max-width: max-content;
    flex: 1 1 330px;
  }

  .container-box .box h2:nth-child(2) {
    font-size: 18px;
    letter-spacing: 0.02em;
    padding-bottom: 7px;
  }

  .container-box .box p {
    font-size: 13px;
    line-height: 17px;
    max-width: max-content;
  }

  section:nth-of-type(3),
  section:nth-of-type(4) {
    padding: 0 1em;
  }

  .our-supporters > h2 {
    font-size: 21px;
    padding-bottom: 10px;
  }

  .our-supporters .groups-img {
    padding: 1em 0 0 0;
    gap: 0 2em;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .our-supporters .groups-img img {
    width: 110px;
  }

  .awards-recognitions {
    padding: 1em 0;
  }

  .awards-recognitions h1,
  .meet-our-team h1 {
    font-size: 25px;
    letter-spacing: 0;
  }

  .awards-recognitions .groups-img {
    padding: 1em 0 0 0;
    flex-wrap: wrap;
    gap: 1.3em 0;
  }

  .awards-recognitions .groups-img .box {
    flex: 1 1 180px;
  }

  section:nth-of-type(5) {
    padding: 2em 1em 2em 1em;
  }

  .our-journey {
    align-items: start;
    padding: 2em;
    flex-direction: column;
    gap: 1em 0;
  }

  .our-journey .groups h1 {
    font-size: 33px;
    letter-spacing: 0.02em;
  }

  .our-journey img {
    width: 100%;
    height: 200px;
  }

  .meet-our-team {
    padding-top: 2em;
  }

  .meet-our-team .groups-images {
    flex-wrap: nowrap;
    gap: 0 1em;
    padding-top: 2em;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
  }

  .meet-our-team .groups-images .images img {
    width: 200px;
    padding-bottom: 7px;
  }

  .meet-our-team .groups-images .images .para h2 {
    font-size: 16px;
    letter-spacing: 0;
    padding-bottom: 3px;
  }
}
