@import "./navbar.css";
@import "./reset.css";
@import "./footer.css";
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:wght@300;400;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --Primary-color: #096a56;
  --Active-color: #205053;
  --Bg-color: #e8ebf0;
  --Text-color: #374151;
  --Title-color: #22495f;
  --Bg-color-alt: #e7f2f7;
  --black: #000000;
  --white: #ffffff;
}

*::selection {
  background: var(--black);
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

section:nth-of-type(1) {
  margin: 5em 0 0 0;
}

.container-top-news {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 3em 4.5em 3em 4.5em;
  background: var(--Bg-color);
}

.container-top-news .top-news {
  max-width: 600px;
}

.container-top-news .top-news .content-top-news {
  display: flex;
  align-items: baseline;
  column-gap: 10px;
}

.container-top-news .top-news .content-top-news span {
  width: 7%;
  height: 2px;
  background-color: #525560;
}

.container-top-news .top-news .content-top-news p {
  font-size: 20px;
  font-weight: 700;
  color: var(--Title-color);
  padding-bottom: 15px;
  text-transform: capitalize;
}

.container-top-news .top-news h1 {
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 0.07em;
  padding-bottom: 15px;
  color: #1d2130;
}

.container-top-news .top-news p {
  font-size: 16px;
  font-weight: 400;
  color: var(--Text-color);
  padding-bottom: 15px;
  line-height: 21px;
  max-width: 500px;
}

.container-top-news .groups {
  background: var(--white);
  padding: 1em;
  border-radius: 15px;
}

.container-top-news .groups .group {
  display: flex;
  align-items: center;
  gap: 0 15px;
  padding-bottom: 15px;
  max-width: 400px;
}

.container-top-news .groups .group:nth-child(3) {
  padding-bottom: 0;
}

.container-top-news .groups .group>img {
  width: 120px;
}

.container-top-news .groups .group .content h2 {
  font-size: 15px;
  font-weight: 700;
  color: var(--Title-color);
  padding-bottom: 5px;
}

.container-top-news .groups .group .content p:nth-child(2) {
  font-size: 13px;
  font-weight: 700;
  color: var(--Text-color);
  padding-bottom: 3px;
}

.container-top-news .groups .group .content p:nth-child(3) {
  font-size: 13px;
  font-weight: 400;
  color: var(--Text-color);
  line-height: 16px;
}

section:nth-of-type(2) {
  padding: 3em 0 0;
}

.parent {
  padding: 0 4.5em;
}

.parent .children {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em 1.3em;
}

.parent .children .group {
  display: flex;
  align-items: start;
  column-gap: 10px;
}

.parent .children .group img {
  width: 30px;
  height: 30px;
}

.parent .children .group .content-paragraph {
  max-width: 300px;
}

.parent .children .group .content-paragraph h2 {
  font-size: 18px;
  font-weight: 700;
  color: var(--Title-color);
  padding-bottom: 3px;
}

.parent .children .group .content-paragraph p {
  font-size: 14px;
  font-weight: 400;
  color: var(--Text-color);
  line-height: 19px;
}

/*******************************************************************media query***************************************************************/
@media screen and (max-width: 320px) {
  section:nth-of-type(1) {
    margin: 4em 0 0 0;
  }

  .container-top-news {
    padding: 2em 1em 2em 1em;
    flex-direction: column;
    gap: 1.2em 0;
  }

  .container-top-news .top-news {
    max-width: max-content;
  }

  .container-top-news .top-news .content-top-news span {
    width: 15%;
  }

  .container-top-news .top-news .content-top-news p {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .container-top-news .top-news h1 {
    font-size: 23px;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
    line-height: 30px;
  }

  .container-top-news .top-news p {
    font-size: 13px;
    padding-bottom: 10px;
    line-height: 18px;
    max-width: max-content;
  }

  .btn button {
    padding: 7px 12px;
    font-size: 13px;
  }

  .container-top-news .groups .group {
    gap: 12px 0;
    max-width: max-content;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .container-top-news .groups .group>img {
    width: 100%;
    object-fit: fill;
    height: 110px;
  }

  .container-top-news .groups .group .content {
    text-align: center;
  }

  .container-top-news .groups .group .content h2 {
    font-size: 14px;
  }

  .container-top-news .groups .group .content p:nth-child(2) {
    font-size: 12px;
  }

  .container-top-news .groups .group .content p:nth-child(3) {
    font-size: 12px;
    line-height: 14px;
  }

  section:nth-of-type(2) {
    padding: 2em 0 0;
  }

  .parent {
    padding: 0 1em;
  }

  .parent .children {
    gap: 1.2em 0;
  }

  .parent .children .group .content-paragraph {
    max-width: max-content;
  }

  .parent .children .group img {
    width: 27px;
    height: 27px;
  }

  .parent .children .group .content-paragraph h2 {
    font-size: 16px;
  }

  .parent .children .group .content-paragraph p {
    font-size: 13px;
    line-height: 16px;
  }

  .made-with p {
    font-size: 13px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  section:nth-of-type(1) {
    margin: 4em 0 0 0;
  }

  .container-top-news {
    padding: 2em 1em;
    flex-direction: column;
    gap: 1.2em 0;
  }

  .container-top-news .top-news .content-top-news p {
    padding-bottom: 10px;
  }

  .container-top-news .top-news h1 {
    font-size: 23px;
    letter-spacing: 0.04em;
    line-height: 29px;
    padding-bottom: 10px;
  }

  .container-top-news .top-news p {
    font-size: 14px;
    padding-bottom: 12px;
    line-height: 19px;
    max-width: max-content;
  }

  .btn button {
    padding: 7px 12px;
    font-size: 13px;
    border-radius: 0;
  }

  .container-top-news .groups .group,
  .parent .children .group .content-paragraph {
    max-width: max-content;
  }

  .container-top-news .groups .group>img {
    width: 100px;
  }

  .container-top-news .groups .group .content h2 {
    font-size: 14px;
    line-height: 17px;
  }

  .container-top-news .groups .group .content p:nth-child(2) {
    font-size: 12px;
  }

  .container-top-news .groups .group .content p:nth-child(3) {
    font-size: 12px;
    line-height: 15px;
  }

  section:nth-of-type(2) {
    padding: 2em 0 0;
  }

  .parent {
    padding: 0 1em;
  }

  .parent .children {
    justify-content: start;
    gap: 1.2em 1em;
  }

  .parent .children .group .content-paragraph h2 {
    font-size: 15px;
  }

  .parent .children .group .content-paragraph p {
    font-size: 13px;
    line-height: 17px;
  }

  .made-with p {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 395px),
(not (min-width: 395px) and (max-width:480px)) {
  .container-top-news .groups .group {
    gap: 10px 0;
    padding-bottom: 20px;
    max-width: max-content;
    flex-direction: column;
  }

  .container-top-news .groups .group>img {
    width: 100%;
    height: 120px;
    object-fit: fill;
  }

  .container-top-news .groups .group .content {
    text-align: center;
  }
}